.search-field {
    width: 300px;
}

:host ::ng-deep .search-field.mat-mdc-form-field .mat-mdc-form-field-flex {
    height: 48px;
    border-radius: 50px !important;
    border: 1px solid #B0BEC5 !important;
    padding: 0 8px 0 16px;
}

:host ::ng-deep .search-field.mat-mdc-form-field .mdc-notched-outline {
    display: none !important;
}

:host ::ng-deep .search-field.mat-mdc-form-field .mat-mdc-text-field-wrapper {
    padding: 0;
    height: 100%;
}

:host ::ng-deep .search-field.mat-mdc-form-field .mat-mdc-form-field-input-control {
    align-self: center;
}

:host::ng-deep .mdc-text-field--outlined .mat-mdc-form-field-infix,
.mdc-text-field--no-label .mat-mdc-form-field-infix {
    padding-top: var(--mat-form-field-container-vertical-padding, 14px) !important;
}