@if (feedbackMessage()) {
<app-feedback-popup [message]="feedbackMessage()" [type]="feedbackType()"></app-feedback-popup>
}

<form class="create-representative-form" [formGroup]="representativeForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <mat-label class="field-label">Nome do representante:</mat-label>
        <mat-form-field appearance="outline" class="full-width">
            <input matInput formControlName="nome" required autocomplete="off" placeholder="Digite o nome completo" />
            <mat-error *ngIf="representativeForm.get('nome')?.touched && representativeForm.get('nome')?.hasError('required')">
                Nome do representante é obrigatório.
            </mat-error>
        </mat-form-field>
    </div>

    <div class="form-group">
        <mat-label class="field-label">Cargo:</mat-label>
        <mat-form-field appearance="outline" class="full-width">
            <input matInput formControlName="cargo" autocomplete="off" placeholder="Ex: Coordenador de Pais" />
        </mat-form-field>
    </div>

    <div class="form-group">
        <mat-label class="field-label">Telefone:</mat-label>
        <mat-form-field appearance="outline" class="full-width">
            <input matInput formControlName="telefone" autocomplete="off" placeholder="(xx) xxxx-xxxx" />
        </mat-form-field>
    </div>

    <div class="form-group school-field">
        <div class="school-label-row">
            <mat-label class="field-label">Escola:</mat-label>
        </div>

        <div class="school-input-row">
            <mat-form-field appearance="outline" class="school-select">
                <mat-select formControlName="escola_id" placeholder="Selecione a escola" required>
                    <mat-option *ngFor="let school of schoolsList" [value]="school.id">
                        {{ school.nome }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="representativeForm.get('escola_id')?.touched && representativeForm.get('escola_id')?.hasError('required')">
                    É obrigatório selecionar uma escola.
                </mat-error>
            </mat-form-field>

            <button mat-icon-button color="primary" class="add-school-button default-button" type="button" (click)="addSchool()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>

    <button mat-flat-button color="primary" class="submit-button default-button" type="submit">
        <span>{{ data ? 'ATUALIZAR REPRESENTANTE' : 'CRIAR REPRESENTANTE' }}</span>
    </button>
</form>