.school-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.school-panel {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.school-header {
    display: flex;
    align-items: center;
    gap: 12px;
}

.school-initial {
    width: 40px;
    height: 40px;
    background: #0099ff;
    color: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0;
    flex-shrink: 0;
}

.school-info {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}

.school-name {
    font-weight: 600;
    font-size: 16px;
}

.school-school {
    color: #555;
    font-size: 14px;
}

.panel-actions {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    gap: 20px;
}

.students-section {
    background: #fff;
    padding: 16px;
    border-radius: 12px;
    margin-top: 8px;
    box-shadow: inset 0 0 0 1px #ddd;
}

.students-header {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    margin-left: 8px;
    margin-bottom: 12px;
    justify-content: space-between;
}

.students-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    gap: 12px 24px;
}

.student-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f9fafb;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 8px 12px;
}

.student-info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.student-avatar {
    width: 36px;
    height: 36px;
    background: #0099ff;
    color: #fff;
    font-weight: 600;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.student-name {
    font-weight: 500;
}

.student-age {
    color: #777;
    font-size: 14px;
}

.student-actions button,
mat-panel-description button {
    margin-left: 6px;
    padding: 4px;
}

mat-expansion-panel-header {
    display: flex;
    align-items: center;
}

mat-panel-title,
mat-panel-description {
    display: flex;
    align-items: center;
}

mat-panel-description:not(.state-col):not(.actions-col):not(.name-col),
mat-panel-title:not(.name-col) {
    flex: 1;
}

.name-col {
    flex: 1.5;
}

.state-col {
    flex: 0 0 80px;
    max-width: 80px;
    text-align: center;
}

.actions-col {
    flex: 0 0 60px;
    max-width: 60px;
    justify-content: flex-end;
    display: flex;
    gap: 8px;
}

.details-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    border-top: 1px solid #eee;
    padding: 16px 24px 0px;
    border-radius: 0 0 12px 12px;
}

.details-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: #333;
    font-size: 14px;
    flex: 1;
}

.details-info strong {
    color: #555;
}

.details-cards {
    display: flex;
    gap: 16px;
}

.detail-card {
    width: 100px;
    height: 70px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.detail-number {
    font-size: 20px;
    font-weight: 700;
    color: #000;
}

.detail-label {
    font-size: 12px;
    color: #555;
    margin-top: 4px;
}

.detail-card.representantes {
    background-color: #FFF2F5;
}

.detail-card.turmas {
    background-color: #E6F7F1;
}

.detail-card.alunos {
    background-color: #FFF7E5;
}