<app-feedback-popup
  [message]="feedbackMessage"
  [type]="feedbackType"
></app-feedback-popup>

<div class="page-container">
  <div class="navbar">
    <div class="logo">
      <div class="logo-bar"></div>
      <span>ELLP</span>
    </div>
  <div class="items-container">
    <div 
      class="nav-item" 
      [class.active]="currentRoute === '/dashboard'" 
      (click)="navigateTo('/dashboard')"
    >
    <mat-icon>home</mat-icon>
      <span>Início</span>
    </div>

    <div class="nav-item" [class.active]="currentRoute === '/school-list'" (click)="navigateTo('/school-list')">
      <mat-icon>school</mat-icon>
      <span>Escolas</span>
    </div>

    <div class="nav-item" [class.active]="currentRoute === '/representative-list'" (click)="navigateTo('/representative-list')">
      <mat-icon>groups</mat-icon>
      <span>Representantes</span>
    </div>

    <div class="nav-item" [class.active]="currentRoute === '/class-list'" (click)="navigateTo('/class-list')">
      <mat-icon>class</mat-icon>
      <span>Turmas</span>
    </div>

    <div class="nav-item" [class.active]="currentRoute === '/student-list'" (click)="navigateTo('/student-list')">
      <mat-icon>person</mat-icon>
      <span>Alunos</span>
    </div>
  </div>
    <div class="bottom-container">
      <div class="logout" (click)="logout()">
        <span>Logout</span>
        <mat-icon>logout</mat-icon>
      </div>
    </div>
  </div>
  <div class="container" [ngStyle]="{ 'padding': hasLateralScroll ? '20px 0px 0px 20px' : '20px 20px 0px'}">
    @if (title || showSearchBar || showAddButton) {
      <div class="page-header-container">
        <h1 class="page-title">{{ title }}</h1>
        <div class="header-actions" [ngStyle]="{ 'padding-right': hasLateralScroll ? '20px' : '' }">
          @if (showFilterButton) {
            <button mat-fab color="primary" [matTooltip]="'Filtro avançado'" (click)="filterButtonClicked.emit()" class="filter-button custom-button">
              <mat-icon>filter_alt</mat-icon>
            </button>
          }
          @if (showSearchBar) {
            <search-bar [(dataSource)]="dataSource" [searchQuery]="searchQuery"> </search-bar>
          }
          @if (showAddButton) {
            <button matButton="filled" class="add-button custom-button" (click)="addButtonClicked.emit()">
              <span>ADICIONAR {{ objectName }}</span>
            </button>
          }
        </div>
      </div>
    }
    <ng-content></ng-content>
  </div>
</div>