.page-container {
  display: flex;
  height: 100vh;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 220px;
  height: 100vh;
  background-color: #dce6ed;
  padding: 1.5rem 1rem;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 3rem;
}

.logo-bar {
  width: 4px;
  height: 20px;
  background-color: #00a6ff;
  margin-right: 8px;
  border-radius: 2px;
}

.items-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  border-radius: 6px;
  color: #000;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.nav-item mat-icon {
  font-size: 20px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.nav-item:hover {
  color: white;
  background-color: #406980;

  mat-icon {
    color: white !important;
  }
}

.nav-item.active {
  background-color: #00a6ff;
  color: white;
  font-weight: 500;
}

.nav-item.active mat-icon {
  color: white !important;
}

.bottom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logout {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  cursor: pointer;
  font-weight: 400;
  transition: color 0.2s ease;

  span,
  mat-icon {
    transition: color 0.2s ease;
  }
}

.logout:hover {
  color: #00a6ff;
}

.logout:hover {
  cursor: pointer;

  span,
  mat-icon {
    color: #303A40 !important;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #fff8f8;
  overflow-y: auto;
}

.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  min-height: 68px;
  width: 100%;
}

.page-title {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

.header-actions {
  display: flex;
  gap: 16px;
  height: 46px;
}

.filter-button {
  background-color: #8ec6e6;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  align-self: center;
}

.filter-button:hover {
  background-color: #b3d1e2;
}