<app-feedback-popup
  [message]="feedbackMessage"
  [type]="feedbackType"
></app-feedback-popup>

<div class="page-container">
  <div class="navbar">
    <div
      class="logo-container">
      <div class="logo-circle">
        <img src="tedi-logo.png" alt="TEDI Logo" style="width: 75%" />
      </div>
      <span style="font-weight: 500">Administrador</span>
    </div>
    <div class="items-container">
      <span (click)="navigateTo('/adm-news')">Notícias</span>
      <span (click)="navigateTo('/adm-monitors')">Monitores</span>
      <span (click)="navigateTo('/adm-team')">Equipe</span>
    </div>
    <div class="bottom-container">
      <div class="logout" (click)="logout()">
        <mat-icon style="margin-right: 15px">logout</mat-icon>
        <span>Sair</span>
      </div>
      <img src="utf-white-logo.png" alt="UTFPR Logo" style="width: 100%"/>
    </div>
  </div>
  <div class="container" [ngStyle]="{ 'padding': hasLateralScroll ? '20px 0px 0px 20px' : '20px 20px 0px'}">
    @if (title || showAddButton) {
      <div class="page-header-container">
        <h1 class="page-title">{{ title }}</h1>
        <div class="header-actions" [ngStyle]="{ 'padding-right': hasLateralScroll ? '20px' : '' }">
          @if (showFilterButton) {
            <button mat-fab color="primary" [matTooltip]="'Filtro avançado'" (click)="filterButtonClicked.emit()" class="filter-button custom-button">
              <mat-icon>filter_alt</mat-icon>
            </button>
          }
          @if (showAddButton) {
            <button mat-fab class="add-button custom-button" aria-label="Adicionar monitor" [matTooltip]="'Adicionar'" (click)="addButtonClicked.emit()">
              <mat-icon fontSet="material-icons-round">add</mat-icon>
            </button>
          }
        </div>
      </div>
    }
    <ng-content></ng-content>
  </div>
</div>