// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  color: #000 !important;
}

.default-button {
  background-color: #00AAFF !important;
  color: white !important;
  border: none !important;
  border-radius: 4px !important;
  padding: 12px !important;
  transition: background-color 0.3s ease-in-out !important;
}

.default-button:hover {
  background-color: #0087ca !important;
  cursor: pointer !important;
}

.mat-mdc-header-row,
.mat-mdc-row,
mat-icon {
  color: #000 !important;
}

.icon-button {
  background-color: white !important;
  border-radius: 4px !important;
  border: none !important;
}

.icon-button:hover {
  background-color: #00000017 !important;
  cursor: pointer !important;
}