name: Angular CI

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./frontend

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Node
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: "npm"
          cache-dependency-path: ./frontend/package-lock.json

      - name: Instalar dependências
        run: npm ci

      - name: Build do Angular
        run: npm run build

      - name: Rodar testes
        run: npm test --if-present
