name: Backend CI

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"

jobs:
  backend:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./backend

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Node
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: "npm"
          cache-dependency-path: ./backend/package-lock.json

      - name: Instalar dependências
        run: npm ci

      - name: Rodar testes
        run: npm test

      - name: Verificar start
        run: node app.js
        continue-on-error: true
